* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @font-face {
  font-family: "Roboto";
  src: url("../fonts/") format("truetype");
} */

:root,
html {
  font-family: Roboto, "Times New Roman", Times, serif;
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --colorPrimary: #e42327;
  --colorSecondary: #03045e;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
}

/* Navbar Starts */
header {
  height: 80px;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorWhite);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

.navbar-toggler-icon {
  background-image: url("../img/logo/hamburger.svg");
}

/* Navbar Ends */

main {
  margin-top: 80px;
}
